:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.header {
  background: linear-gradient(87deg,#2dce89,#2dcecc) !important;
  padding: 2em 0 0;
  position: relative;
  display: flex;
  flex-direction: column;

  .menu {
    margin-bottom: 1.5em;
    padding: 0 2em;
    max-width: 75em;
    align-self: center;
  }

  .seperator {
    pointer-events: none;
    height: 60px;
    width: 100%;
    top: auto;
    bottom: 0;
    // prevents some odd line on retina displays
    margin-bottom: -1px;
    display: flex;
    justify-items: end;
    align-items: end;
  }
}
