:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.header {
  background: linear-gradient(87deg,#2dce89,#2dcecc) !important;
  padding: 2em 0 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr minmax(auto, 20em) minmax(auto, 55em) 1fr;
  grid-template-areas:
    '. logo links .'
    '. menu menu .'
    'sperator seperator seperator seperator';
  gap: 1.5em;

  .logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: start;

    .navbar-brand img
    {
      height: 30px;
    }
  }

  .links {
    grid-area: links;
  }

  .menu {
    grid-area: menu;
  }

  .seperator {
    grid-area: seperator;
    pointer-events: none;
    height: 60px;
    width: 100%;
    top: auto;
    bottom: 0;
    // prevents some odd line on retina displays
    margin-bottom: -1px;
    display: flex;
    justify-items: end;
    align-items: end;
  }
}

.links {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: end;

    .link {
      list-style: none;
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
      margin: 0 0 0 1.2em;
    }

    .link a {
      text-decoration: none;
      color: hsla(0, 0%, 100%, .95);

      &.active {
        color: hsla(0, 0%, 100%, .65);
      }
    }
  }

  &.mobile {
    display: none;
  }

  @media screen and (max-width: 690px) {
    display: none;
  }
}

.report {
  position: relative;
  width: 100%;
  margin: 0 auto 4em;
  max-width: 85em;
}

.footer {
  width: calc(100% - 8em);
  max-width: 85em;
  margin: 0 auto;
  padding: 0 2em 4em;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 690px) {
    flex-direction: column;
    gap: 1em;
  }
}

.copyright {
  @media screen and (max-width: 690px) {
    text-align: center;
  }
  flex: 1;
  color: #8898aa;

  a {
    color: #5e72e4;
    text-decoration: none;
    font-weight: 600;
  }
}

.footer-links {
  flex: 1;
  font-size: .875rem;

  ul {
    @media screen and (max-width: 690px) {
      justify-content: center;
    }

    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0;
    margin: 0;
    gap: 1em;

    li {
      list-style: none;

      a {
        color: #525f7f;
        text-decoration: none;
      }
    }
  }
}
