.refresh-loader {
  position: absolute;
  right: 1em;
  top: 1em;
  color: #fff;
  display: flex;
  gap: .7em;
  align-items: center;
  font-size: .8125em;
  text-transform: uppercase;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'cold-stats warm-stats'
    'cold-diagrams warm-diagrams';
  gap: 2em;
  margin: 4em 2em;
}

.stats {
  max-width: 20em;
}

.cold-stats {
  grid-area: cold-stats;
}

.cold-diagrams {
  grid-area: cold-diagrams;
}

.warm-stats {
  grid-area: warm-stats;
}

.warm-diagrams {
  grid-area: warm-diagrams;
}

.stats-title {
  font-size: .8125em;
  line-height: 1.5em;
  color: #8898aa;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 30px;
}

mat-card {
  position: relative;
}

.icon {
  position: absolute;
  right: 16px;
  img {
    height: 32px;
  }
}

.timing {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
}

.diff {
  font-weight: lighter;
  display: flex;
  align-items: center;
  font-size: 0.8125em;

  .percentage {
    display: inline-block;
    margin-right: 0.5em;
  }

  .percentage, mat-icon {
    color: #f5365c;

    &.positive {
      color: #2dce89;
    }
  }
}
