.refresh-loader {
  position: absolute;
  right: 1em;
  top: 1em;
  color: #fff;
  display: flex;
  gap: .7em;
  align-items: center;
  font-size: .8125em;
  text-transform: uppercase;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'cold-stats warm-stats'
    'cold-diagrams warm-diagrams';
  gap: 2em;
  margin: 4em 2em;

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto 1fr;
    grid-template-areas: 'cold-stats'
    'cold-diagrams'
    'warm-stats'
    'warm-diagrams';
  }
}

.cold-stats {
  grid-area: cold-stats;
}

.cold-diagrams {
  grid-area: cold-diagrams;
}

.warm-stats {
  grid-area: warm-stats;
}

.warm-diagrams {
  grid-area: warm-diagrams;
}
